<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07E96DCE1D9F182C001C90D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07E96DE21D9F182C001C90D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07E96DED1D9F182C001C90D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
